# Copyright (c) 2021 Casey Webster
# SPDX-License-Identifier: MIT

config SHIELD_JACA_CORNE_LEFT
    def_bool $(shields_list_contains,jaca_corne_left)

config SHIELD_JACA_CORNE_RIGHT
    def_bool $(shields_list_contains,jaca_corne_right)
