# Copyright (c) 2021 Casey Webster
# SPDX-License-Identifier: MIT

config SHIELD_JSON_LOWPRO_LEFT
    def_bool $(shields_list_contains,json_lowpro_left)

config SHIELD_JSON_LOWPRO_RIGHT
    def_bool $(shields_list_contains,json_lowpro_right)
