# Copyright (c) 2021 Casey Webster
# SPDX-License-Identifier: MIT

config SHIELD_JSON_LOWPRO_LFT
    def_bool $(shields_list_contains,json_lowpro_lft)

config SHIELD_JSON_LOWPRO_RGHT
    def_bool $(shields_list_contains,json_lowpro_rght)
