if SHIELD_JSON_LOW_PRO_LEFT

config ZMK_KEYBOARD_NAME
    default "json_low_pro left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_JSON_LOW_PRO_RIGHT

config ZMK_KEYBOARD_NAME
    default "json_low_pro right"

endif

if SHIELD_JSON_LOW_PRO_LEFT || SHIELD_JSON_LOW_PRO_RIGHT

config ZMK_SPLIT
    default y

endif
